header img {
  height: 80px;
}

body {
  height: 125vh;
  background-image: url('./bg.jpg');
  background-size: cover;
  font-family: 'Roboto Slab', serif;

}

main {
  color: white;
}

video {
  width: 100%;
  height: auto;
}

.profile-icons {
  align-content: space-around;
  padding: 10px;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 10px;
  justify-content: space-between;
  background: none;
  margin-left: -7px;
  font-size: 15px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;

}

.profile-info {
  position: relative;
  text-align: left; 
  margin: 20px auto;
}
.profile-info-title {
  position: relative; 
  text-align: center;
}
.form-control[readonly] {
  background-color: white;
  padding-top: 5px;
  opacity: 1;
}
.button-form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.playlist-profile {
  background-color:blue;
}

h1{
  align-self: center;
  color: #2727e6; text-decoration: none; transition: color 0.5s;
  }
  a:hover {
  color: #111118;
  }